{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> "WEAVERS", "SIDERS AUTO CONORS", and "SUPERVISORS". Shift Rotation</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
    <link href="{% static 'django_select2/django_select2.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="{% static 'django_select2/django_select2.js' %}"></script>
</head>
<body>
    {% include 'body/audit_header.html' %}
    {% include 'body/audit_sidebar.html' %}
    
    <div class="main-panel">
        <div class="content">
            <div class="container-fluid">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">WEAVERS, SIDERS AUTO CONORS , SUPERVISORS Shift Rotation</div>
                        </div>
                        <div class="card-body">
                            <form method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit">Update Shift Rotation</button>
                              </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('.form-control').select2();
        });
    </script>

    {% include 'body/footer.html' %}
</body>
</html>
